<div class="container">
  <h1> All our flats </h1>

  <div>
    <% @flats.each do |flat| %>
      <div>
        <p><%= flat.name %></p>

        <i class="fas fa-user-friends"></i>
        <i class="fas fa-euro-sign"></i>
      </div>
    <% end %>
  </div>
</div>
