// Place all the styles related to the Flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//Navbar css

// index banner css

.banner {
  background-size: 100% 100%;
  background-position: center;
  padding: 150px 0;
  height: 70vh;
}

.banner h1 {
  margin: 120px 0 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-main a{
  text-decoration: none;
  color: #fff;
}

.btn-main a:hover{
  color: #fff;
}

.btn-my-flat{
  border-radius: 20px;
  padding: 10px 35px;
  color: #fff;
  border: 1px solid #fff;
}


// index css

.flat-title-index{
  font-size: 28px;
  font-weight: bold;
}

.box-flex{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 10px;
}

.box-flat{
  margin: 10px 0;
  border: 1px solid #E8E8E8;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.flat-info{
  padding: 20px;
  background-color: #F5F5F5;
}

.user-icon{
  margin-right: 20px;
}

.more-info{
  display: flex;
  justify-content: space-around;
  padding: 5px;
  margin-bottom: 10px;
}

.my-btn{
  padding: 20px;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 10px;
  color: #fff;
  opacity: 1;
}

.my-btn:hover{
  color: #fff;
  opacity: 0.9;
}

.btn-remove{
  background-color: #c70039;
}

.btn-edit{
  background-color: #16c79a;
}

.btn-more-info{
  background-color: #19456b;
}

.fa-user-friends:before{
  margin-right: 10px;
}

.fa-euro-sign:before{
  margin-right: 10px;
}


// each flat

// retirar o bg image
.background-flat{
  position: relative;
  //background-image: url("https://images.unsplash.com/photo-1521747116042-5a810fda9664?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 70vh;
}

.flat{

  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  background-color: #F0F0F0;
}

.main-flat-image{
  width: 100%;
  height: 250px;
}

.map-image{
  width: 100%;
}

.flat-margin{
  margin-top: 650px;
}

.btn-submit{
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  width: 100%;
  background-color: #29bb89;
  color: #fff;
}

.data-input{
  border-radius: 10px 0 0 10px;
  padding: 5px 15px;
  background-color: #DCDCDC   ;
  color: black;
}

.details-icons p{
  font-size: 22px;
  margin-right: 10px;

}

.social-icons{
  color: #29bb89;
  display: flex;
  justify-content: space-around;
}

.text-p{
  margin-top: 3px;
  padding: 0px 10px;
  font-size: 18px;
  font-weight: bold;
}
